Package: com.mohammadag.airplayactivator
Name: AutoAirPlay
Depends: mobilesubstrate, libactivator
Version: 1.0
Architecture: iphoneos-arm
Description: Enable the first possible audio-only AirPlay speaker, if none found, the first AirPlay device.
Maintainer: Mohammad Abu-Garbeyyeh
Author: Mohammad Abu-Garbeyyeh
Section: Tweaks
